### Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators. (* 'hello' -87.8 - / + 6)

Ans1:

Values (integer or strings) are: 'hello', -87.8, 6

Expressions are: * , - , / , +

### Q2. What is the difference between string and variable?

Ans2: 

String is a data type in python which can store a sequence of characters. It is used to store and manipulate text. Strings are enclosed in single quotes ('string') or double quotes ("STRING"). Eg: name = "This is a string" 

Variable is a named location in the computer's memory that can store a value. It allows you to assign value to a name which you can then refer to later in code. Variables can hold various types of data, including strings, numbers and more complex data structures. Eg: variable = "Mihir", variable2 = 789

### Q3. Describe three different data types.

Ans3:

Python has various types of built-in data types which can be used to store and manipulate information. Here are some of them. 

1. Numeric type
* int - represents integer values like 6, -6 and 100
* float - represents floating point numbers with decimal values like 3.14, 5.6
* complex - represents complex numbers with real and imaginary part like 1 + 5j


2. String 
* str - represents a sequence of characters enclosed in single ('This is a string') or double quotes ("This is also a string")

3. Boolean
* Represents a logical value either True or False. This is used in logical and conditional statements.

4. List 
* Represents an ordered collection of items enclosed in square brackets '[ ]' Lists can contain elements of different types and are mutable. Eg: list = ['hello', 545, 94545, 43.4,]

5. Tuple
* Represents an ordered collection of items enclosed in parentheses '()'. They can also contain elements of different types, but tuples are immutable i.e. their contents cannot be modified. Eg: tuple = ('fire' , 3.14, 95, -4)

6. Dictionary
* Represents a collection of key-value pairs enclosed in curly braces '{}'. Each key is associated with a value, alllowing you to retrieve different values based on their keys. Dictionaries are also known as associative arrays or hash maps. Eg: dict = {"name": "Mihir", "age": 25}

7. Set
* Represents an unordered collection of unique elements enclosed in curly braces '{}' or created using the set() function. Sets are useful for removing duplicates and performing mathematical set operations like union, intersection and difference. 


8. None
* Represents the absence of a value. It is commonly used to indicate the absence of a meaningful result or the default value of a variable that has not been asigned a value.

### Q4. What is an expression made up of? What do all expressions do?

Ans4: 
* An expresssion is a combination of values, variables, operators, operands and function calls that evaluates to some value. It represents a compuatation or a calculation. 

There are various type of expressions: 
1. Constant expression: This will return only constant value 
2. Arithmetic expression: This returns a numerical value
3. Integral experession: This will only return value in the form of int data type. 
4. Floating expression: This will return value in the form of float data type. 
5. Relational and Logical Expression: These two will return a boolean data type. 
6. Bitwise expression: This expression wil perform computations at the bit level. 
7. Combinational expressions: When multiple expressions are used in a single expression, they are called combinational expressions.

### Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans5. 

* Assignment statements like spam = 10 assign the value 10 to variable called spam. Whereas expression performs some computation and returns a single value as a result.

### Q6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

Ans6. bacon contains 23

In [3]:
bacon = 22

bacon + 1

23

### Q7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;

&#39;spam&#39; * 3

Ans7. The value of both terms is 'spamspamspam'. The first resulst is obtained by string concatenation and the second result is obtained by string multiplication.

In [4]:
'spam' + 'spamspam'

'spam' * 3

'spamspamspam'

### Q8. Why is eggs a valid variable name while 100 is invalid?

Ans8: There are rules for naming variables in python. 

* The variable name must start with a letter or underscore.
* The variable name cannot start with a number
* The variable name can only contain alphanumerics characters (A-z), (0-9) and underscores (_)
* The variable names are case sensitive. ('age' and 'Age' are different variables.)

Since 'eggs' contains letters and begins with a letter it is valid. But '100' begins with number which is invalid.

### Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans9: 

* The functions int(), float() and str() will evaluate the integer, floating-point number and string version of a value passed on to them.

### Q10. Why does this expression cause an error? How can you fix it?

&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

Ans10: 

* The following expression is trying to concatenate string value and int value which is not possible. String concatenation can only be done between two or more strings. 

* To fix the error enclose 99 in quotaion marks like this '99' or "99"

In [6]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [8]:
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'