### 1. What exactly is []?  

### Ans1

### [] in python are index brackets, they are use to define lists.

In [1]:
list = [1,2,4,5]
print(type(list))

<class 'list'>

### 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.) Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.


### Ans

In [2]:
spam = [2,4,6,8,10]
spam[2] = 'hello'
print(spam[2])

hello

### 3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

### Ans

This will return a Value error since you cannot do division operation on a string.

In [3]:
spam[int(int('3*2')/11)]

ValueError: invalid literal for int() with base 10: '3*2'

### 4. What is the value of spam[-1]?

### Ans

Using negative indices you can access a list from its last element. So the value of spam[-1] will the last value in spam which is spam[4] i.e. 10

In [4]:
spam[-1]

10

### 5. What is the value of spam[:2]? 

### Ans 

spam[:2] is a slicing operation. It is the same as spam[0:2] which will return values from spam[0] to spam[2] but not including spam[2]

In [6]:
spam[:2]

[2, 4]

### Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.
### 6. What is the value of bacon.index(&#39;cat&#39;)?

### Ans

This will return the first index which has the value 'cat'. In bacon indices 1 and 3 have that value. But 1 comes first so bacon.
So bacon.index('cat') will return 1

In [10]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

### 7. How does bacon.append(99) change the look of the list value in bacon?

### Ans

This will add the value 99 after the value True in bacon. As a result bacon[4] will have the value 99

In [12]:
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

### 8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

### Ans

bacon.remove('cat') will remove the first instance of 'cat' in bacon.

In [14]:
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True, 99]

### 9. What are the list concatenation and list replication operators?

### Ans

The list concatenation operator is + and the list replication operator is *

In [20]:
namelist = ['vivek','nilesh','mihir']
numlist = [1,2,3,4,5]

In [21]:
print(numlist*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [22]:
print(namelist + numlist)

['vivek', 'nilesh', 'mihir', 1, 2, 3, 4, 5]

### 10. What is difference between the list methods append() and insert()?

### Ans

The append() method adds any value to the end of the list. Meanwhile, the insert() method adds any value to the specified place in the list. 

append() takes only 1 argument, while insert() takes 2 arguments

In [28]:
alist= ['minseok', 'alex', 'myongbin']
alist.insert(0,'gulin')
print(alist)

['gulin', 'minseok', 'alex', 'myongbin']

In [29]:
blist = ['shantanu', 'dhairya', 'nandita']
blist.append('paridhi')
print(blist)

['shantanu', 'dhairya', 'nandita', 'paridhi']

### 11. What are the two methods for removing items from a list?

### Ans 

There are several methods to remove items from a list. 

1. list.remove() - this removes the first instance of the value you pass to the remove() method

2. list.pop() - this removes the value at the specified index

3. del list[] - this also removes the value at the specified index

4. list.clear() - this deletes the complete list

In [32]:
tlist = ['naruto', 'hinata', 'sasuke', 'itachi','tsunade']
tlist.remove("sasuke")
print(tlist)

['naruto', 'hinata', 'itachi', 'tsunade']

In [33]:
tlist = ['naruto', 'hinata', 'sasuke', 'itachi','tsunade']
tlist.pop(2)
print(tlist)

['naruto', 'hinata', 'itachi', 'tsunade']

In [34]:
tlist = ['naruto', 'hinata', 'sasuke', 'itachi','tsunade']
del tlist[1]
print(tlist)

['naruto', 'sasuke', 'itachi', 'tsunade']

In [35]:
tlist = ['naruto', 'hinata', 'sasuke', 'itachi','tsunade']
tlist.clear()
print(tlist)

[]

### 12. Describe how list values and string values are identical.

### Ans

List and string values are identical in the sense that you can carry out the same operations on both. 

1. Indexing: You can use indexing to access individual elements in both lists and strings

2. Slicing: They both also support slicing to get a subset of elements

3. Length: The len() function can find the length of both strings and lists

4. Concatenation: You can concatenate them both using '+'

5. Iteration: You can use loops to iterate over elements of both strings and lists

In [36]:
s = "Ninjutsu"
lst = [123, 'sharingan', 3.14, 101]
print(s[2])
print(lst[2])

n
3.14

In [41]:
print(f"Length of string named 's' is {len(s)}")
print(f"Length of lst named 'lst' is {len(lst)}")

Length of string named 's' is 8
Length of lst named 'lst' is 4

In [46]:
print(f"Slicing string s: {s[1:5]}")
print(f"Slicing list lst: {lst[0:3]}")

Slicing string s: inju
Slicing list lst: [123, 'sharingan', 3.14]

In [48]:
print(f"Concatenation of a string: {s+s}")
print(f"Concatenation of a list: {lst+lst}")

Concatenation of a string: NinjutsuNinjutsu
Concatenation of a list: [123, 'sharingan', 3.14, 101, 123, 'sharingan', 3.14, 101]

In [52]:
for i in s: 
    print(i)

N
i
n
j
u
t
s
u

In [53]:
for i in lst: 
    print(i)

123
sharingan
3.14
101

### 13. What&#39;s the difference between tuples and lists?

### Ans

We declare tuples using paretheses () while lists are declared using the square brackets [].

Other than that the main difference is lists are mutable while tuples are not.

In [54]:
klist = [1,2,3,4,5,6,789]
ktuple = (1,2,3,4,5,6,789)

print(type(klist), type(ktuple))

<class 'list'> <class 'tuple'>

In [55]:
klist.append("new element")
print(klist)

[1, 2, 3, 4, 5, 6, 789, 'new element']

In [57]:
ktuple.append("new element")
print(ktuple)

# We get this error since lists are not mutable and we cannot append elements to it

AttributeError: 'tuple' object has no attribute 'append'

### 14. How do you type a tuple value that only contains the integer 42?

### Ans

To create a tuple which only contains the integer 42 we must type tuple = (42,)

We need to add a comma after 42 to create it as a tuple otherwise it will be created as an integer

In [63]:
tuple14 = (42)
print(type(tuple14))
print(tuple14)

<class 'int'>
42

In [62]:
tuple14 = (42,)
print(type(tuple14))
print(tuple14)

<class 'tuple'>
(42,)

### 15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

### Ans

We can use the built-in functions list() and tuple() to achieve this

In [64]:
tuple15 = ("ninja", 245, 3.14, 'jutsu')
list15 = ['gojo', 'itadori', 'okkotsu','Ryomen Sukuna']

print(type(tuple15), type(list15))

<class 'tuple'> <class 'list'>

In [65]:
l15new = list(tuple15)
print(type(l15new))

<class 'list'>

In [66]:
t15new = tuple(list15)
print(type(t15new))

<class 'tuple'>

### 16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?

### Ans

Variables that contain the list values are not lists themselves. They contain a reference to the list. This reference points to the memory location where the list is stored.

In [69]:
my_list = [1, 2, 3]

another_list = my_list
another_list.append(4)

print(my_list)  
print(another_list)

[1, 2, 3, 4]
[1, 2, 3, 4]

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

### Ans 

Copy is a module which contains the .copy() and .deepcopy() methods. These are perform different tasks

copy.copy() also known as shallow copy constructs a new compound object and inserts references into it to the objects found in the original. Changes to any element will also change the element in the original object as long as the object is mutable

copy.deepcopy() also constructs a new compound object but instead of references copies the actual objects found in the original object. Changes to any element wil not change the element in the original object. 

### Mutable Objects
1. List
2. Dictionary
3. Set

### Immutable Objects
1. Integer
2. Float 
3. String
4. Tuple
5. Boolean 
6. Frozen Sets
7. Comlex Numbers

In [92]:
original = [[1,2],["panther", 34], [1,2,3,4,5]]
shallow = copy.copy(original)

shallow[0].append(3)

print(original)
print(shallow)

[[1, 2, 3], ['panther', 34], [1, 2, 3, 4, 5]]
[[1, 2, 3], ['panther', 34], [1, 2, 3, 4, 5]]

In [93]:
original = [[1,2],["panther", 34], [1,2,3,4,5]]
deep = copy.deepcopy(original)

deep[0].append(3)

print(original)
print(deep)

[[1, 2], ['panther', 34], [1, 2, 3, 4, 5]]
[[1, 2, 3], ['panther', 34], [1, 2, 3, 4, 5]]